PORT=4000
# Local (MongoDB Community / Compass):
MONGO_URI=mongodb://127.0.0.1:27017/graphql_class_db
# O si usan MongoDB Atlas (nube), reemplacen por su cadena de conexión:
# MONGO_URI=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/graphql_class_db?retryWrites=true&w=majority
